.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.DS_store
ToDo.txt
/Dabrowska2019/
/images_extra/
/.quarto/
*_cache
*_inProgress*
/site_libs/
/LangSciPress/
_extensions/
*_JH.*
*.pdf
examples/
**/*.quarto_ipynb
index.log
index.tex
index.aux
index.toc
