project:
  type: book
  output-dir: docs
profile:
  default: OER
book:
  title: Data Analysis for the Language Sciences
  subtitle: A very gentle introduction to statistics and data visualisation in `R`
  author:
  - name: Elen Le Foll
    orcid: 0000-0002-5839-8010
    email: elefoll@uni-koeln.de
  date: "1 March 2025"
  date-format: "D MMMM YYYY"
  license: CC BY-NC-SA
  sidebar:
    title: Data Analysis for the<br>Language Sciences
    subtitle: Work in progress!
    tools:
    - icon: envelope
      href: mailto:elefoll@uni-koeln.de
  page-footer:
    background: light
    left: <a href="https://www.elenlefoll.eu">Elen Le Foll</a>
    center: Data Analysis for the Language Sciences
    right: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>
  site-url: https://elenlefoll.github.io/RstatsTexbook/
  repo-url: https://github.com/elenlefoll/RstatsTextbook/
  repo-branch: main
  reader-mode: true
  
engine: knitr
execute:
  message: false
  warning: false
  cache: true
  freeze: auto

bibliography: 
  - references.bib
  - grateful-refs.bib

csl: unified-style-sheet-for-linguistics.csl
lightbox: true
from: markdown+emoji # https://github.com/quarto-dev/quarto-cli/issues/4492#issuecomment-1548655951


